<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#">
              <%= image_tag("logo.png", class: "logo") %>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href="#who-are-we">Who are we?</a>
                </li>
                <li>
                    <a href="#amfitrio">Vull ser amfitrió</a>
                </li>
                <li>
                    <a href="#contact-us">Contact us</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Header -->
<a name="home"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                                <h1 class="yellow"> EAT with Catalans </h1>
                                <p class="intro-text"> Enjoy the Catalan hospitality while learning about why we seek to be recognized as a new European state </p>
                                <p class="intro-text"> Below you will find a map of all the locations where Catalans are willing to cook you some food! <a href="#contact">Contact us </a>to learn how you can visit one of our hosts</p>
                  <iframe src="https://www.google.com/maps/d/embed?mid=1LpbClq2t7_jJPP7UpRBeXSDTaw1gaVbZ" width="1200" height="800"></iframe>
                    <hr class="intro-divider">
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<a  name="who-are-we"></a>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Who are we information</h2>
                <p class="lead">blabalblalab<a target="_blank" href="http://join.deathtothestockphoto.com/">Example</a>blablabla</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="http://ironsummitmedia.github.io/startbootstrap-landing-page/img/ipad.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<a name="amfitrio"></a>
<div class="content-section-b">
    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Informacio pels amfitrions</h2>
                <p class="lead">More information we can write blablalballba<a target="_blank" href="http://www.psdcovers.com/">Example link</a>We can write whatever we want here</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="http://ironsummitmedia.github.io/startbootstrap-landing-page/img/dog.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<a name="contact-us"></a>
<div class="banner">

    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <h2 class="yellow">Connect to Eat With Catalans</h2>
            </div>
            <div class="col-lg-6">
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="mailto:info@eatwithcatalans.org" class="btn btn-default btn-lg"><i class="fa fa-envelope-o fa-fw"></i> <span class="network-name">Email</span></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/EatWithCatalans" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.banner -->

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                        <li>
                                <a href="#home">Home</a>
                        </li>
                        <li>
                                <a href="#who-are-we">Who are we?</a>
                        </li>
                        <li>
                                <a href="#amfitrio">Vull ser amfitrió</a>
                        </li>
                        <li>
                                <a href="#contact-us">Contact us</a>
                        </li>

                </ul>
            </div>
        </div>
    </div>
</footer>
