<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav bg-yellow" role="navigation">
  <div class="container topnav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#">
        <%= image_tag("logo.png", class: "logo") %>
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav sections-menu">
        <li>
          <a href="#home">Home</a>
        </li>
        <li>
          <a href="#who-are-we">Who are we?</a>
        </li>
        <li>
          <a href="#amfitrio">Vull ser amfitrió</a>
        </li>
        <li>
          <a href="#visiting-catalonia">I am visiting Catalonia</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- Header -->
<a name="home"></a>
<div class="intro-header">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="jumbotron">
          <%= image_tag("eat_with_catalans.png", class: "intro-image") %>
          <div class="intro-text">
            <p> Enjoy the Catalan hospitality while learning about why we seek to be recognized as a new European state. </p>
            <p> Below you will find a map of all the locations where Catalans are willing to cook you some food! <a href="https://docs.google.com/forms/d/e/1FAIpQLSclEmxv6LGWsLdr1h53cdlSL8MVr0SnthwXh7309mW1DEjJ7g/viewform?entry.549750948&entry.2005620554&entry.1390492281&entry.1045781291&entry.1065046570&entry.1995063506&entry.1166974658&entry.1980385700">Contact us </a>to learn how you can visit one of our hosts.</p>
          </div>
          <div class="map-container">
            <iframe src="https://www.google.com/maps/d/embed?mid=1LpbClq2t7_jJPP7UpRBeXSDTaw1gaVbZ" width="1000" height="600"></iframe>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<a  name="who-are-we"></a>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Who are we</h2>
        <p class="lead"><a target="_blank" href="http://join.deathtothestockphoto.com/">Example</a>blablabla</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="http://ironsummitmedia.github.io/startbootstrap-landing-page/img/ipad.png" alt="">
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->

<a name="amfitrio"></a>
<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Vull ser amfitrió</h2>
        <p class="lead">Si vols ser amfitrió o amfitriona no dubtis en posar-te en contacte amb nosaltres mitjançant aquest <a href="https://docs.google.com/forms/d/e/1FAIpQLSf1OGxiKoo7EAZ8YtRZUqPHn-9CYCi7oDkHD5IWvIUfWy3-cg/viewform?usp=pp_url&entry.2005620554&entry.1390492281&entry.1045781291&entry.1065046570&entry.1166974658&entry.839337160">formulari</a></p>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-b -->

<a name="visiting-catalonia"></a>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">I am visiting Catalonia</h2>
        <p class="lead">Are you visiting Catalonia and you are interested to eat with catalan locals? Don't hesitate to contact us via this<a href="https://docs.google.com/forms/d/e/1FAIpQLSclEmxv6LGWsLdr1h53cdlSL8MVr0SnthwXh7309mW1DEjJ7g/viewform?entry.549750948&entry.2005620554&entry.1390492281&entry.1045781291&entry.1065046570&entry.1995063506&entry.1166974658&entry.1980385700"> form</a></p>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
